#meus-filmes {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
#meus-filmes ul{
    padding: 0px;
}
#meus-filmes ul li{
    padding: 2px;
    list-style: none;
    display: flex;
    min-width: 450px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    border: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: black;
}
#meus-filmes ul li span{
    font-size: 16px;
}
#meus-filmes ul li div a{
    text-decoration: none;
}
#meus-filmes ul li div button{
    margin-left: 10px;
    color: white;
    padding: 3px;
}